
/* General Styles */
.header {
  display: flex;
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
  justify-content: space-between; 
}

.slideshow {
  width: 40rem;
  height: 25rem;
}

.hero {
  color: #ddd6cb;
  font-size: 1.5rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CTA Styles */
.cta {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; 
  justify-content: center; 
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.cta a:hover,
.cta a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

.cta a:first-child {
  background: transparent;
  font-weight: normal;
  color: #ff9b05;
  padding-left: 0;
}

.cta a:first-child:hover,
.cta a:first-child:active {
  background: transparent;
  color: #f9b241;
}

/* Section Styles */
.section {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.ct {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}


@media (max-width: 1024px) {
  .header {
    flex-direction: column; 
    align-items: center;
  }

  .slideshow {
    width: 80%; 
    height: 20rem; 
    margin-bottom: 2rem; 
  }

  .hero h1 {
    font-size: 1.75rem;
  }

  .cta {
    flex-direction: column; 
    gap: 0.5rem;
  }

  .cta a {
    padding: 0.5rem 1.25rem;
  }

  .section {
    font-size: 1.4rem; 
  }
}

/* Mobile view (max-width 768px) */
@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    align-items: center;
    gap: 2rem;
  }

  .slideshow {
    width: 100%; 
    height: 15rem; 
  }

  .hero {
    font-size: 1.25rem; 
    padding: 0 1rem; 
  }

  .hero h1 {
    font-size: 1.5rem; 
    letter-spacing: 0.1rem;
  }

  .cta {
    font-size: 1.2rem; /* Smaller CTA text */
    gap: 0.5rem;
  }

  .cta a {
    padding: 0.5rem 1rem;
  }

  .section {
    font-size: 1.25rem; 
    padding: 0 1rem; 
  }
}

